@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin:0 auto;
    padding: 0 10px;
    box-sizing: border-box; 
    font-family: Fira Sans;
}
header, main{
    width: 1280px;
    background: rgb(245, 245, 245);
}

        /* nav section starts here */
.nav-container{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.nav-container .logo{
    margin: 0px;
    color: black;
    font-size: 32px;
    font-weight: 700;
}
.nav-container .sign-in-btn{
    margin: 0px;
    padding: 12px 25px;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    color: rgb(0, 106, 80);
    font-size: 18px;
    transition: transform .2s;
}
        /* nav section starts here */

        /* Banner section starts here */
.banner-container{
    height: 560px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-title{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    text-align: left;
}
.banner-text{
    width: 610px;
}
.banner-subtitle{
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    text-align: left;
    margin: 16PX 0 24PX 0;
}
.banner-btn{
    padding: 17PX 34PX;
    border: none;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    transition: transform .2s;
}
        /* Banner section ends here */

        /* Piller section starts here */
h3{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    margin: 60px 0 32px 0;
}
.piller-container{  
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.piller-card{
    width: 302px;
    padding: 24px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}
.piller-card-title{
    margin: 25px 0 12px 0;
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
}
.card-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}
        /* Piller section ends here */

        /* Vision section starts here */
.vision{
    margin-top: 60px;
}
.vision h2{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
}
.vision>p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin: 24px 0 32px 0;
}
.vision-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.vision-card{
    width: 410.67px;
    border-radius: 15px;
    padding: 32px;
}
.vision-card-1{
    background: rgba(84, 144, 245, 0.2);
    transition: transform .2s;
}
.vision-card-2{
    background: rgba(135, 221, 182, 0.788);
    transition: transform .2s;
}
.vision-card-3{
    background: rgb(247, 235, 207);
    transition: transform .2s;
}
.vision-card-header{
    margin: 25px 0 12px 0;
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
}
.vision-card>p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}
.vision-card-1> button{
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    transition: transform .2s;
}
.vision-card-2> button{
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    background: rgb(9, 161, 92);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    transition: transform .2s;
}
.vision-card-3> button{
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    background: rgb(255, 194, 57);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    transition: transform .2s;
}
.quote-container{
    height: 240px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: url(../assets/quote-bg.png) left 16px top 24px no-repeat, white;
    margin-top: 32PX;
    padding: 48px 10px;
}
.quote-container .speech{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}
.quote-container h5{
    margin: 12px 0 5px 0;
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
}
.quote-container .person-title{
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
}
        /* Vision section ends here */

        /* Opinion section starts here */
.opinion h4{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    margin: 60px 0 24px 0;
}
.table-section{
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 32px;
}
.row-color{
    background-color: rgb(198, 228, 214);
}
table, tr, th, td{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-collapse: collapse ;
    padding: 24px;
    
}
.question{
    width: 980px;
}
select{
    box-sizing: border-box;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    background: rgb(198, 228, 214);
    padding: 10px 14px;
    color: rgb(14, 14, 14);
    font-size: 16px;
    font-weight: 500;
}
        /* Opinion section ends here */

        /* Recent News section starts here */
.recent-news-subtitle{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}
.recent-news-container{
    padding: 56px 48px;
    background-color: white;
    border-radius: 24px;
    display: flex;
}
.recent-news-container img{
    border-radius: 35px;
}
.recent-news-container .news-text h2{
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
}
.recent-news-container .news-text img{
    margin: 12px 0;
}
.date-time{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin: 12px 0px;
    padding: 0px;
}
.news-description{
    width: 744px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}
.recent-news-container .news-text button{
    padding: 13px 26px;
    margin-bottom: 0px;
    border: none;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    transition: transform .2s;
}
.recent-news-container-2{
    flex-direction: row-reverse;
    padding-right: 20px;
    margin: 24px 0px;
}
        /* Recent News section ends here */

        /* Donate section starts here */
.donate h2{
    margin-top: 50px;
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.donate-description{
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
text-align: center;
margin: 24px 0 32px 0;
}
.donate-container{
    display: flex;
}
.amount{
    height: 128px;
    width: 240px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;    
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
}
.amount:hover{
    background: rgb(198, 228, 214);
    cursor: pointer;
}
.manual-input{
    display: flex;
    justify-content: center;
    margin: 32px 0px;
    
}
.manual-input-box{
    padding: 19px 40px;
    width: 1082px;
    text-align: center;
    color: rgba(14, 14, 14, 0.3);
    font-size: 20px;
    font-weight: 400;
    border: none;
}
.submit-container{
    display: flex;
    justify-content: center;
}
.submit{
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
    margin-right: auto;
    transition: transform .2s;
}
        /* Donate section ends here */

        /* Subscribe section starts here */
.subscribe{
    height: 395px;
    background-color: rgb(198, 228, 214);
    border-radius: 24px;
    margin: 60px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe-container{
    margin: 60px auto;
    width: 750px;
    height: 235px;
}
.subscribe-container h4{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.subscribe-description{
    width: 622px;
    margin: 16px 0 24px 0;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.subscribe-input{
    width: 750px;
    height: 55px;
    display: flex;   
    align-items: center;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 25px;

}
.subscribe-input> input{
    width: 600px;
    color: rgba(14, 14, 14, 0.4);
    border: none;
    outline: 0px;
    margin-left: 20px;
}
.subscribe-input> button{
    height: 55px;
    margin-right: -10px;
    padding: 17px 34px;
    border: none;
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    transition: transform .2s;
}
.subscribe-container .no-spam{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
        /* Subscribe section ends here */

        /* Hover effet on buttons and card are here */

button:hover{
    cursor: pointer;
    color: black;
    background-color: rgb(101, 72, 231);
    box-shadow: 2px 2px 15px 8px rgb(44, 61, 71) ;
    transform: scale(1.1);        
}
.vision-card-1:hover{
    background: aquamarine;
    box-shadow: 2px 2px 10px 13px rgb(120, 128, 126) ;
    transform: scale(1.03);
}
.vision-card-2:hover{
    background: rgba(223, 247, 86, 0.726);
    box-shadow: 2px 2px 10px 13px rgb(120, 128, 126) ;
    transform: scale(1.03);
}
.vision-card-3:hover{
    background: rgb(213, 89, 224);
    box-shadow: 2px 2px 10px 13px rgb(120, 128, 126) ;
    transform: scale(1.03);
}

        /* Footer section */
footer{
    width: 1280px;
}
footer h2{
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 50px 30px;
}
hr{
    width: 1120px;
}
.social-icon-container{
    width: 120px;
    margin: 32px auto 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
        /* footer ends here */