@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin:0 auto;
    padding: 0 10px;
    box-sizing: border-box; 
    font-family: Fira Sans;
}
header, main{
    width: 1280px;
    background: rgb(245, 245, 245);
}

        /* nav section starts here */
.nav-container{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.nav-container .logo{
    margin: 0px;
    color: black;
    font-size: 32px;
    font-weight: 700;
}
.nav-container .sign-in-btn{
    margin: 0px;
    padding: 5px 10px;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    color: rgb(0, 106, 80);
    font-size: 18px;
}
        /* nav section starts here */


        /* Banner section starts here */
.banner-container{
    height: 560px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-title{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    text-align: left;
}
.banner-text{
    width: 610px;
}
.banner-subtitle{
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    text-align: left;
    margin: 16PX 0 24PX 0;
}
.banner-btn{
    padding: 17PX 34PX;
    border: none;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
}
        /* Banner section ends here */

        /* Piller section starts here */
h3{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    margin: 60px 0 32px 0;
}
.piller-container{  
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.piller-card{
    width: 302px;
    padding: 24px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}
.piller-card-title{
    margin: 25px 0 12px 0;
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
}
.card-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}
        /* Piller section ends here */

        /* Vision section starts here */
.vision{
    margin-top: 60px;
}
.vision h2{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
}
.vision>p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin: 24px 0 32px 0;
}
.vision-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.vision-card{
    width: 410.67px;
    border-radius: 15px;
    padding: 32px;
}
.vision-card-1{
    background: rgba(84, 144, 245, 0.2);
}
.vision-card-2{
    background: rgb(198, 228, 214)
}
.vision-card-3{
    background: rgb(247, 235, 207);
}
.vision-card-header{
    margin: 25px 0 12px 0;
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
}
.vision-card>p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}
.vision-card> button{
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
}
.quote-container{
    height: 240px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: url(../assets/quote-bg.png) left 16px top 24px no-repeat, white;
    margin-top: 32PX;
    padding: 48px 10px;
}
.quote-container .speech{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}
.quote-container h5{
    margin: 12px 0 5px 0;
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
}
.quote-container .person-title{
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
}
        /* Vision section ends here */