@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin:0 auto;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(245, 245, 245);
}
body{
    width: 1280px;
}

        /* nav section starts here */
.nav-container{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 14px 16px;
}
.nav-container .logo{
    color: black;
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
}
.nav-container .sign-in-btn{
    padding: 5px 10px;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
}
        /* nav section starts here */

        
        /* nav section starts here */
